@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:800i&display=swap');

$main-font: 'Roboto', sans-serif;
$secondary-font: 'Playfair Display', serif;

body, h1, h2, h3, h4, h5, h6, p, input, select, textarea, button 
{
    font-family: $main-font;
}
body 
{
    color: gray;
}
h1, h2, h3, h4, h5, h6
{
    color: $white;
}
h4 
{
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    font-weight: 700;
}