@import url('https://unpkg.com/aos@2.3.1/dist/aos.css');
*
{
    outline: none;
}
$animated: all 0.2s ease-in-out;
a 
{
    transition: $animated;
}
body 
{
    background: $black;
}
section 
{
    padding: 5rem 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    .align-content 
    {
        margin: auto;
        position: relative;
        z-index: 2;
    }
}
.list 
{
    list-style: none;
    margin: 3rem 0 0 0;
    padding: 0;
    li 
    {
        margin-top: 1rem;
        h4 
        {
            color: lighten($theme-color, 15%);
        }
    }
}
.rellax
{
    position: relative;
    height: 0;
    z-index: 3;
}