.get-in-touch 
{
    ul 
    {
        list-style: none;
        margin: 1rem 0 0 0;
        padding: 0;
        li
        {
            float: left;
            a 
            {
                display: block;
                text-transform: uppercase;
                letter-spacing: 0.1rem;
                margin-right: 5rem;
                font-size: 0.8rem;
                color: lighten($theme-color, 15%);
                &:hover 
                {
                    color: $white;
                }
            }
        }
    }
}