header 
{
    background: rgba($black, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: block;
    z-index: 9;
    transition: $animated;
    &.scrolled 
    {
        background: rgba($black, 1);
        .logo 
        {
            height: 50px;
        }
        ul 
        {
            li 
            {
                a 
                {
                    line-height: 50px;
                    &.btn 
                    {
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                }
                &:last-child 
                {
                    a 
                    {
                        &.btn 
                        {
                            height: 40px;
                            width: 40px;
                            margin-top: 5px;
                            margin-bottom: 5px;
                            span 
                            {
                                width: 40px;
                                height: 40px;
                                mask-size: 20px 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    .logo 
    {
        display: flex;
        align-items: center;
        background: $theme-color;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        padding: 0;
        width: 90px;
        height: 90px;
        img
        {
            display: block;
            margin: auto;
            max-width: 60px;
        }
    }
    p
    {
        line-height: 90px;
        margin: 0;
        text-align: right;
        text-transform: uppercase;
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
    }
    ul 
    {
        margin: 0;
        padding: 0;
        list-style: none;
        float: right;
        li 
        {
            float: left;
            a 
            {
                font-size: 0.8rem;
                text-transform: uppercase;
                letter-spacing: 0.1rem;
                margin-left: 3rem;
                line-height: 90px;
                font-weight: 700;
                color: $white;
                &:hover 
                {
                    color: lighten($theme-color, 15%);
                }
                &.btn 
                {
                    line-height: 30px;
                    border-radius: 90px;
                    background: $theme-color;
                    color: $white;
                    text-align: center;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    display: inline-block;
                    &:hover 
                    {
                        background: $white;
                        color: $black;
                        span 
                        {
                            background-color: $theme-color;
                        }
                    }
                }
            }
            &:last-child 
            {
                a 
                {
                    &.btn 
                    {
                        padding: 0;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        width: 50px;
                        height: 50px;
                        span 
                        {
                            mask: url(../images/icon-send.svg) no-repeat center center;
                            background-color: $white;
                            mask-size: 25px 25px;
                            width: 50px;
                            height: 50px;
                            display: block;
                            transition: $animated;
                        }
                    }
                }
            }
        }
    }
}