.intro 
{
    background: url('../images/bg-lines-smooth.svg') no-repeat top right $black;
    position: relative;
    &:after 
    {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 0;
        left: 0;
        height: 10rem;
        width: 100%;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    }
    h1 
    {
        font-family: $secondary-font;
        color: lighten($theme-color, 15%);
        margin-bottom: 1.5rem;
    }
    h2 
    {
        line-height: 1.1;
    }
    h4 
    {
        position: relative;
        color: lighten($theme-color, 15%);
        &:before 
        {
            content: '';
            display: inline-block;
            width: 80px;
            height: 1px;
            background: lighten($theme-color, 15%);
            margin-right: 1rem;
            position: relative;
            top: -4px;
        }
    }
}