.projects 
{
    position: relative;
    h5 
    {
        color: $white;
        margin-bottom: 3rem;
    }
    article 
    {
        margin-top: 3rem;
        display: table;
        width: 100%;
        clear: both;
        .featured-image 
        {
            display: block;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            background: $theme-color;
            border-radius: 3px;
            overflow: hidden;
            position: relative;
            padding: 2rem;
            span 
            {
                position: absolute;
                display: block;
                text-transform: uppercase;
                color: lighten($theme-color, 30%);
                letter-spacing: 0.1rem;
                line-height: 30px;
                font-size: 0.7rem;
                text-align: center;
                margin: auto;
                transition: $animated;
                top: 50%;
                left: 8rem;
                margin-top: -15px;
                z-index: 1;
                width: calc(100% - 4rem);
                text-align: left;
                &:after 
                {
                    content: '';
                    display: block;
                    height: 1px;
                    width: 100%;
                    left: 0;
                    top: 35px;
                    right: 0;
                    background: lighten($theme-color, 30%);
                }
                &:before 
                {
                    content: '';
                    display: block;
                    width: 5px;
                    height: 5px;
                    background: lighten($theme-color, 30%);
                    border-radius: 10px;
                    position: absolute;
                    left: -2px;
                    top: 28px;
                }
            }
            div 
            {
                display: block;
                border-radius: 3px 0 0 3px;
                background: $white;
                padding-top: 16px;
                overflow: hidden;
                position: relative;
                transition: $animated;
                z-index: 3;
                box-shadow: 0 0 2rem rgba($black, 0.2);
                transform: translateX(2rem);
                &:before, &:after 
                {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    top: 5px;
                    left: 5px;
                    width: 6px;
                    height: 6px;
                    border-radius: 90px;
                    background: red;
                }
                &:after 
                {
                    left: 18px;
                    background: green;
                }
                img 
                {
                    width: 100%;
                    display: block;
                }
            }
            &:hover 
            {
                span 
                {
                    left: 4rem;
                }
                div 
                {
                    transform: translateX(70%);
                }
            }
        }
        ul 
        {
            list-style: none;
            margin: 0 0 0 4rem;
            padding: 0;
            li
            {
                float: none;
                font-size: 0.8rem;
                letter-spacing: 0.1rem;
                text-transform: uppercase;
                color: $gray;
                strong  
                {
                    margin-top: 0.5rem;
                    display: block;
                    color: $white;
                    font-size: 0.8rem;
                }
                a 
                {
                    color: $gray;
                    &:hover 
                    {
                        color: $white;
                    }
                }
            }
        }
    }
}