@media screen and (max-width: 1024px){
    .intro
    {
        background-size: cover;
    }
}
@media screen and (max-width: 520px){
    header 
    {
        .logo 
        {
            height: 60px;
            width: 60px;
            line-height: 60px;
            img 
            {
                max-width: 40px;
            }
        }
        ul 
        {
            li 
            {
                a 
                {
                    margin-left: 1.5rem;
                    line-height: 60px;
                    &.btn 
                    {
                        margin-top: 15px;
                        margin-bottom: 15px;
                    }
                }
                &:last-child 
                {
                    a 
                    {
                        &.btn 
                        {
                            height: 50px;
                            width: 50px;
                            margin-top: 5px;
                            margin-bottom: 5px;
                            span 
                            {
                                width: 50px;
                                height: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
}