.slider-projects 
{
    margin-top: 4rem;
    margin-right: -2rem;
    width: calc(100% + 2rem);
    position: relative;
    &:after 
    {
        content: '';
        z-index: 2;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 2rem;
        background: $black;
    }
    .slick-slide 
    {
        article 
        {
            margin-right: 2rem;
            .featured-image 
            {
                display: block;
                margin-top: 1.5rem;
                div 
                {
                    display: block;
                    border-radius: 2px 0;
                    overflow: hidden;
                }
            }
            ul 
            {
                list-style: none;
                margin: 0;
                padding: 0;
                li
                {
                    float: none;
                    font-size: 0.7rem;
                    letter-spacing: 0.1rem;
                    text-transform: uppercase;
                    strong  
                    {
                        margin-top: 0.5rem;
                        display: block;
                        color: lighten($theme-color, 15%);
                        font-size: 0.8rem;
                    }
                    a 
                    {
                        color: $white;
                        &:hover 
                        {
                            text-decoration: underline;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    .slick-dots
    {
        position: relative;
        bottom: auto;
        margin-top: 1.5rem;
        text-align: left;
        li 
        {
            button 
            {
                &:before 
                {
                    color: $white;
                    font-size: 0.7rem;
                }
            }
            &.slick-active 
            {
                button 
                {
                    &:before 
                    {
                        color: $theme-color;
                    }
                }
            }
        }
    }
}